:root {
	font-size: 16px;

	--color-primary: #5D0630;
	--color-background: #F9F6EE;

	--color-redwine-primary: #8D0E3B;
	--color-redwine-secondary: #FFE2E9;

	--color-whitewine-primary: #185807;
	--color-whitewine-secondary: #F4FEB6;

	--color-champagne-primary: #564300;
	--color-champagne-secondary: #FEFFB8;
	


}