:root {
	font-size: 16px;

	--font-main: "Libre Caslon Text";
	--font-weight-regular: 400;

	--font-size-title: 3.5rem;
	--font-size-under_title: 1.625rem;
	--font-size-nav_title: 1.375rem;
	--font-size-medium: 1.125rem;
	--font-size-small: 0.875rem;

	--color-font: #5D0630;

	--color-primary: #5D0630;
	--color-background: #F9F6EE;

	--color-redwine-primary: #8D0E3B;
	--color-redwine-secondary: #FFE2E9;

	--color-whitewine-primary: #185807;
	--color-whitewine-secondary: #F4FEB6;

	--color-champagne-primary: #564300;
	--color-champagne-secondary: #FEFFB8;
	


}